@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@300;400;700&display=swap");

.List > .questions {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.List > .questions > img {
  object-fit: contain;
  background: #7eb496;
  border-radius: 16px;
  padding: 20.94px 22.03px;
  align-self: flex-end;
}

.List > .questions p:nth-child(1) {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 174.2%;
  /* identical to box height, or 35px */

  /* color/sub/red */

  color: #f88270;
}

.List > .questions p:nth-child(2) {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 41.25px;
  line-height: 56px;

  /* color/sub/blue */

  color: #084861;

  margin: 0 auto;
  max-width: 760px;
}

.List > .list {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.List > .list .watch {
  display: flex;
  justify-content: space-between;
}

.List > .list .watch > p:nth-child(1) {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 22.5px;
  line-height: 28px;
  align-self: flex-start;

  /* color/sub/blue */

  color: #084861;
}
.List > .list .watch > p:nth-child(2) {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 18.75px;
  line-height: 209.7%;
  /* or 52px */

  letter-spacing: -0.05em;

  /* color/sub/blue */

  color: #084861;

  align-self: flex-start;

  max-width: 759px;
  min-width: 759px;
}

.List > .list hr {
  opacity: 0.1;
  /* color/sub/blue */
  border: 1px solid #084861;
  width: 100%;
  height: auto;
}

.List > .list .buttons {
  display: flex;
  align-self: flex-end;
  align-items: center;
}

.List > .list .buttons > img {
  object-fit: contain;
  margin: 0 10px;
}

.List > .list .buttons > a > div {
  position: relative;
  top: 2px;
}

.List > .list .buttons > div {
  position: relative;
  top: 1px;
}

.List > .list .buttons div > img {
  border-radius: 16px;
  padding: 5px 15px;
}

.List > .list .buttons div > img:hover {
  background: #f1faf0;
}

.List > .list .buttons div > img:active {
  background: #d8e8d6;
}

.deleteModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 724px;
  height: 436px;
  background: #ffffff;
  /* shadow */

  box-shadow: 0px 20px 100px rgba(156, 156, 156, 0.15);
  border-radius: 16px;

  z-index: 4;
  margin: 0 auto;
  /* position: relative;
  bottom: 550px; */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.96;
}

.deleteModal > img {
  align-self: flex-end;
  margin-right: 40px;
  position: relative;
  bottom: 50px;
}

.deleteModal > p {
  text-align: center;
  
}

.deleteModal > p:nth-child(2) {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  text-align: center;

  /* color/sub/blue */

  color: #084861;
  margin: 0 auto;
}

.deleteModal > p:nth-child(3) {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 209.7%;
  /* or 42px */

  text-align: center;

  /* color/grey/text02 */

  color: #98999c;
}

.deleteModal > section {
  display: flex;
  height: 20%;
  align-self: center;
  justify-content: center;
  margin-top: 20px;
}

.deleteModal > section > p,.deleteModal > section > a {
  text-align: center;
  padding: 10px 0;
  margin: 5px 10px;
  
}

.deleteModal > section > p:nth-child(1) {
  width: 198px;
  height: auto;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 174.2%;
  /* identical to box height, or 44px */

  letter-spacing: 0.07em;

  /* color/grey/text02 */

  color: #98999c;

  border: 2px solid #bbbbbb;
  box-sizing: border-box;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteModal > section > p:nth-child(2),.deleteModal > section > a:nth-child(2) {
  width: 198px;
  height: auto;
  display: flex;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 174.2%;
  /* identical to box height, or 44px */
  justify-content: center;
  align-items: center;
  letter-spacing: 0.07em;

  /* color/grey/01 */

  color: #f9f8f9;
  background: #7eb496;
  border-radius: 16px;
  cursor: pointer;
}

.calendar {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 822px;
  height: 553px;

  background: #ffffff;
  /* shadow */

  box-shadow: 0px 20px 100px rgba(156, 156, 156, 0.15);
  border-radius: 16px;
  opacity: 0.96;
}

.calendar > .calendar_close {
  margin-top: 32.19px;
  margin-bottom: 15.5px;
  position: absolute;
  right: 48.5px;
}

.calendar > .calendar_close img {
  width: 10.82px;
  height: 10.82px;
}

.TodayWrite {
  width: 70%;
  height: 83px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(126, 180, 150, 0.2);
  border-radius: 12px;
  padding: 0 25px;
  box-sizing: border-box;
}

.TodayWrite > div {
  display: flex;
}

.TodayWrite > div > img {
}

.TodayWrite > div > p {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 18.75px;
  line-height: 174.2%;
  /* identical to box height, or 33px */

  /* color/sub/blue */

  color: #084861;
}

.TodayWrite a {
  text-decoration: none;
}

.TodayWrite a > p {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 174.2%;
  /* identical to box height, or 30px */

  color: #ffffff;

  /* color/main/green */

  background: #7eb496;
  border-radius: 12px;
  width: 173px;
  padding: 15px 0;
  text-align: center;
}

.TodayWrite a > p:hover {
  background: #9fd3b6;
}

.TodayWrite a > p:active {
  background: #78aa8e;
}


/* .alert {
  position: absolute;
  top:20vh;
  left: 35vw;
  width: 100vw;
  height: 150vh;

}

.alert_dup {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 543px;
  height: 83px;
  background: #FFFFFF;
  box-shadow: 0px 15px 75px rgba(156, 156, 156, 0.15);
  border-radius: 12px;
  z-index: 50;
} */

.cal{

  position: absolute;
  top:10vh;
  left: 10vw;
}

.alert_calender {

  display: flex;
  
  align-items: center;
}
.alert_calender .textBox{
  display: flex;
  flex-direction: column;
  padding: 0px 27px;
}

.alert_calender >.textBox >div:nth-child(1){
  font-size: 22.5px;
  font-weight: 700;
  
  color:#084861
  }
  .alert_calender >.textBox >div:nth-child(2){
font-size: 18.75px;
color:#98999C

}

.alert_dup > span {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 22.5px;
  line-height: 28px;

  /* color/sub/blue */

  color: #084861;
}

.opacity {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.3;
}