@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@300;400;700&display=swap");

.Trash {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Trash > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Trash > div > p:nth-child(1) {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 41.25px;
  line-height: 56px;

  /* color/sub/blue */

  color: #084861;
}

.Trash > div > p:nth-child(2) {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 18.75px;
  line-height: 174.2%;
  /* identical to box height, or 44px */

  letter-spacing: 0.07em;

  /* color/grey/01 */

  color: #f9f8f9;

  background: #7eb496;
  border-radius: 16px;

  padding: 15px 40px;

  position: relative;
  left: 70px;

  display: none;
}

.Trash > p {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 174.2%;
  /* identical to box height, or 35px */

  /* color/grey/text02 */

  color: #98999c;

  margin-top: 0;
  margin-bottom: 5rem;

  position: relative;
  bottom: 20px;
}

.Trash section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Trash section > div hr {
  opacity: 0.1;
  /* color/sub/blue */

  border: 1px solid #084861;
  width: 100%;
  height: auto;
}

.Trash > section .question {
  margin-bottom: 50px;
}

.Trash > section .question > p:nth-child(1) {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 174.2%;
  /* identical to box height, or 35px */

  /* color/sub/red */

  color: #f88270;
}

.Trash section .question > p:nth-child(2) {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 22.5px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;

  /* color/sub/blue */

  color: #084861;

  margin: 0 auto;
}

.Trash section .answers {
  align-self: flex-end;
  max-width: 759px;
  min-width: 759px;
}

.Trash section .answers > p:nth-child(1) {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 22.5px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;

  /* color/sub/blue */

  color: #084861;
}

.Trash section .answers > p:nth-child(2) {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 18.75px;
  line-height: 209.7%;
  /* or 52px */

  letter-spacing: -0.05em;

  /* color/sub/blue */

  color: #084861;
}

.Trash section .btns {
  width: 170px;
  height: auto;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Trash section .btns > img {
  padding: 5px 15px;
}

.Trash section .btns > img:hover {
  background: #f1faf0;
  border-radius: 11.71px;
}

.Trash section .btns > img:active {
  background: #d8e8d6;
  border-radius: 11.71px;
}

#backTrash {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f9f8f9;
  z-index: -10;
}
